* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #2b89a5;
  font-family: "Cairo", sans-serif;
  color: #fff4dc;
  font-size: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.logo {
  display: inline-flex;
  letter-spacing: 5px;
  align-items: center;
}

.nav_list {
  display: flex;
  height: 45px;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}

.content_wrapper {
  min-height: calc(100vh - 60px);
  padding-top: 48px;
  padding-bottom: 8px;
  width: 100%;
  display: flex;
}

.nav_list a {
  text-decoration: none;
  color: #fff4dc;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
