<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />

  <link href="{{ url_for('static', filename='/favicon.png') }}" rel="icon" />
  <title>{% block title %}{{ title }}{% endblock %}</title>
</head>

<body>
  <div class=content_wrapper>
    <header>
      <nav>
        <div class="logo">
          <span class="material-icons-outlined">park</span>
          <h3>Task manager</h3>
        </div>
        <ul class="nav_list">
          <li>
            <a href="{{ url_for('index') }}" class="active">Home</a>
          </li>
          <li>
            <a href="{{ url_for('new_object') }}" class="active">New</a>
          </li>
          <li>
            <a href="{{ url_for('lookup') }}" class="active">Check</a>
          </li>
          {% if current_user.is_authenticated %}
          <li>
            <a href="{{ url_for('settings') }}" class="active">Settings</a>
          </li>
          <li>
            <a href="{{ url_for('logout') }}" class="active">Log Out</a>
          </li>
          {% else %}
          <li>
            <a href="{{ url_for('login') }}" class="active">Log In</a>
          </li>
          <li>
            <a href="{{ url_for('register') }}" class="active">Register</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </main>
  </div>
</body>

</html>