{% extends "layout.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<div class="content">
    <form method="POST" action="" class="loginform">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="centered">Log In</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-contorl form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-contorl form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group padding_vertical">
                {{ form.remember(class="form-check-input")}}
                {{ form.remember.label(class="form-check-label")}}
            </div>
        </fieldset>
        <div class="form-group centered">
            {{ form.submit(class="btn form-button btn_login")}}
        </div>

    </form>
    <small class="text-muted">
        Don't have an account yet? <a href="{{ url_for('register') }}">Register now</a>
    </small>

</div>

{% endblock %}