{% extends 'layout.html' %}

{% block title %}
Task manager
{% endblock %}
{% block top %}
<div class="header_top">
    <h4>Plans for<h4>
            <form action="" method="POST" id="datepicker">
                <input type='text' name='datepicker' class="flatpickr2 btn" placeholder='{{ date_dateformat }}'
                    required>
            </form>
</div>
{% endblock %}
{% block content %}




{% for task in tasks %}
<div class="task_wrapper">
    <div class="flex_row">
        <div class="flex_column column_big">
            <div class="task_element">
                <h5>{{ task.type.capitalize()}}</h5>
            </div>
            <div class="task">
                <div>
                    <p>{{ task.content }}</p>
                </div>
            </div>
            <div class="flex_row centered">
                {% if task.date %}
                <div class="task_element">
                    <h6>{{ task.date }}</h6>
                </div>
                {% else %}
                <div class="task_element">
                    <h6>{{ "Date is not set" }}</h6>
                </div>
                {% endif %}
                {% if task.time %}
                <h6>{{ task.time.strftime("%H:%M") }}</h6>
                {% else %}
                <h6> {{ "Time is not set" }}</h6>
                {% endif %}

            </div>
            <div class="flex_row">
                <form action="{{ url_for('update', task_id = task.id) }}">
                    <input class="btn task_element mg_15" type="submit" value="Update">
                </form>
                <form action="{{ url_for('new_subobjective', task_id = task.id) }}">
                    <input class="btn task_element mg_15" type="submit" value="Subobjective">
                </form>
                <button type="button" class="btn task_element mg_15" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">
                    Delete
                </button>
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete this objective?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                                <form action="{{ url_for('delete', task_id = task.id) }}" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex_column column_small">
            <form action="{{ url_for('done', task_id = task.id) }}" method="POST">
                <input class="btn task_element" type="submit" value="Done">
            </form>
        </div>
    </div>
</div>
{% for subtask in subtasks %}
{% if subtask.parent_id == task.id %}
<div class="subtask_row">
    <div class="task_wrapper">
        <div class="flex_row">
            <div class="flex_column column_big">
                <div class="task_element">
                    <h5>Subobjective: {{ subtask.type.capitalize()}}</h5>
                </div>
                <div class="task">
                    <div>
                        <p>{{ subtask.content }}</p>
                    </div>
                </div>
                <div class="flex_row centered">
                    {% if subtask.date %}
                    <div class="task_element">
                        <h6>{{ subtask.date }}</h6>
                    </div>
                    {% else %}
                    <div class="task_element">
                        <h6>{{ "Date is not set" }}</h6>
                    </div>
                    {% endif %}
                    {% if subtask.time %}
                    <h6>{{ subtask.time.strftime("%H:%M") }}</h6>
                    {% else %}
                    <h6> {{ "Time is not set" }}</h6>
                    {% endif %}
                </div>
                <div class="flex_row">
                    <form action="{{ url_for('update', task_id = subtask.id) }}">
                        <input class="btn task_element mg_15" type="submit" value="Update">
                    </form>
                    <button type="button" class="btn task_element mg_15" data-bs-toggle="modal"
                        data-bs-target="#deleteModal_subtask">
                        Delete
                    </button>
                    <div class="modal fade" id="deleteModal_subtask" tabindex="-1" aria-labelledby="deleteModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModal_subtask">Delete this objective?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Back</button>
                                    <form action="{{ url_for('delete', task_id = subtask.id) }}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex_column column_small">
                <form action="{{ url_for('done', task_id = subtask.id) }}" method="POST">
                    <input class="btn task_element" type="submit" value="Done">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% for goal in goals %}
<div class="task_wrapper">
    <div class="flex_row">
        <div class="flex_column column_big">
            <div class="task_element">
                <h5>{{ goal.type.capitalize()}}</h5>
            </div>
            <div class="task">
                <div>
                    <p>{{ goal.content }}</p>
                </div>
            </div>
            <div class="flex_row centered">
                {% if goal.date %}
                <div class="task_element">
                    <h6>{{ goal.date }}</h6>
                </div>
                {% else %}
                <div class="task_element">
                    <h6>{{ "Date is not set" }}</h6>
                </div>
                {% endif %}
                {% if goal.time %}
                <h6>{{ goal.time.strftime("%H:%M") }}</h6>
                {% else %}
                <h6> {{ "Time is not set" }}</h6>
                {% endif %}

            </div>
            <div class="flex_row">
                <form action="{{ url_for('update', task_id = goal.id) }}">
                    <input class="btn task_element mg_15" type="submit" value="Update">
                </form>
                <form action="{{ url_for('new_subobjective', task_id = goal.id) }}">
                    <input class="btn task_element mg_15" type="submit" value="Subobjective">
                </form>
                <button type="button" class="btn task_element mg_15" data-bs-toggle="modal"
                    data-bs-target="#deleteModal_goal">
                    Delete
                </button>
                <div class="modal fade" id="deleteModal_goal" tabindex="-1" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModal_goal">Delete this objective?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                                <form action="{{ url_for('delete', task_id = goal.id) }}" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex_column column_small">
            <form action="{{ url_for('done', task_id = goal.id) }}" method="POST">
                <input class="btn task_element" type="submit" value="Done">
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}