{% extends "layout.html" %}

{% block title %}
New objective
{% endblock %}

{% block content %}
<h4>{{ parent_objective.content }}</h4>
<div class="content">
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ legend }}</legend>
            <div class="form_group">
                {{ form.content.label(class="form_control_label") }}
                {% if form.content.errors %}
                {{ form.content(class="form_control form_control_lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="new_task") }}
                {% endif %}
            </div>
            <div class="form_list">
                {{ form.type.label(class="form_control_label") }}
                {% if form.type.errors %}
                {{ form.type(class="form_control form_control_lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {% for subfield in form.type %}
                <tr>
                    <td>{{ subfield.label }}</td>
                    <td>{{ subfield }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <input type='text' name='datetime' class="flatpickr" placeholder='select date and time'>
            </div>
        </fieldset>
        <fieldset class=checkboxes_inline>
            <div class="form-check">
                {{ form.monday(class="form-check-input")}}
                {{ form.monday.label(class="form-check-label")}}
            </div>
            <div class="form-check">
                {{ form.tuesday(class="form-check-input")}}
                {{ form.tuesday.label(class="form-check-label")}}
            </div>
            <div class="form-check">
                {{ form.wednesday(class="form-check-input")}}
                {{ form.wednesday.label(class="form-check-label")}}
            </div>
            <div class="form-check">
                {{ form.thursday(class="form-check-input")}}
                {{ form.thursday.label(class="form-check-label")}}
            </div>
            <div class="form-check">
                {{ form.friday(class="form-check-input")}}
                {{ form.friday.label(class="form-check-label")}}
            </div>
            <div class="form-check">
                {{ form.saturday(class="form-check-input")}}
                {{ form.saturday.label(class="form-check-label")}}
            </div>
            <div class="form-check">
                {{ form.sunday(class="form-check-input")}}
                {{ form.sunday.label(class="form-check-label")}}
            </div>
        </fieldset>
        <div class="form_group">
            {{ form.submit(class="form_button")}}
        </div>
    </form>
</div>
{% endblock %}